


.skills li{
    background-color: var(--black2);
    color: var(--white);
    padding: .3rem .6rem;
    border-radius: 20px;
    display: flex;
    align-items: center;
}
.skills li span{
    margin-right: 6px;
}
.social{
    color: var(--white);
    background-color: var(--black2);
    padding: 5px;
    border-radius: 10px;
}



.btn-cv{
    background-color: var(--black2);
    padding: .6rem .8rem;
    border-radius: 10px;
    margin-left: 2rem;
}
.btn-cv a{
    color: var(--white);
}
.btn-cv span{
    margin-left: 6px;
}